<form (ngSubmit)="formHandler()" [formGroup]="registerForm">
    <div class="form-group input-area">
      <label for="username">Nombre de usuario:</label>
      <input type="text" id="username" name="username" formControlName="username" required>
    </div>
    <div class="form-group input-area">
      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="password" formControlName="password" required>
    </div>
    <div class="form-group input-area">
      <label for="email">Correo electronico:</label>
      <input type="email" id="email" name="email" formControlName="email" required>
    </div>
    <button type="submit" class="form-button">Registrarse</button>
    <p>¿Tienes ya una cuenta? <a routerLink="/auth/login">Inicia sesión</a>.</p>
  </form>
  
  <div *ngIf="status === 'success'">
  <h2>{{message}}</h2>
  <button class="form-button" routerLink="'login'">Ir al login</button>
  </div>
  
  <div class="spinner" *ngIf="status === 'loading'">
    <h2>Procesando..</h2>
  </div>
  
  <div *ngIf="status === 'unauthorized'">
  <h2>{{message}}</h2>
  </div>
  
