<article class="bip-card">
    <div class="bip-card-id">
        <img class="bip-card-id__img" src="./../../../assets/images/icono-muestra.png" alt="icono usuario"/>
        <h4 class="bip-card-id__username">Javier Manchon García</h4>
    </div>
    <div class="bip-card-category">
        <ul class="bip-card-category__list">
            <li class="bip-card-category__item angular-color category-item">ANGULAR</li>
            <li class="bip-card-category__item node-color category-item">NODE</li>
        </ul>
    </div>
    <div class="bip-card-content-and-interactions-area">
        <div class="bip-card-interactions">
            <img class="bip-card-interactions__item" src="./../../../assets/images/like-image.png" alt="icono like"/>
            <img class="bip-card-interactions__item" src="./../../../assets/images/comentario-icono.png" alt="icono comentarios"/>
        </div>
        <div class="bip-card-content-area">
            <p class="bip-card-content-area__content">Que pasada las posibilidades que ofrece Angular! Pero tengo alguna problema resolviendo la integracion con el backend que he hecho en Node.. A alguien más le pasa?</p>
        </div>
    </div>
    <div class="bip-card-image-area">
        <img class="bip-card-image-area__img" src="./../../../assets/images/img-ejemplo-angular.png" alt=""/>
    </div>
    
</article>
