
<app-post *ngIf="activeToken && !loading" (bipCreated)="updateBipsList()"></app-post>
<div *ngIf="loading" class="loading-icon">
    <img src="./../../../assets/images/upgrade-club.png" alt="Cargando...">
</div>
<article *ngIf="!loading && (bipsList && bipsList.length > 0)" class="my-bips-container">
    <div class="bip-card" *ngFor="let bip of bipsList">
        <div class="bip-card-id">
            <img class="bip-card-id__img" [src]="getUserImage(bip.user) ? getUserImage(bip.user) : './../../../assets/images/icono-muestra.png'" alt="icono usuario"/>
            <h4 class="bip-card-id__username">{{ getUserName(bip.user) }}</h4>
        </div>
        <div class="bip-card-category">
            <ul class="bip-card-category__list">
                <li class="bip-card-category__item category-item" *ngFor="let category of bip.categories" [class]="category + '-color'">{{ category }}</li>
            </ul>
        </div>
        <div class="bip-card-content-and-interactions-area">
            <div class="bip-card-interactions">
                <img *ngIf="isLoggedIn()" (click)="handleLikes(bip._id)"
                class="bip-card-interactions__item" [src]="bip.likes.includes(activeUserId) ? './../../../assets/images/liked-icon.webp' : './../../../assets/images/like-image.png'" alt="icono likes"/>
                <img *ngIf="!isLoggedIn()" 
                routerLink="/auth/login" class="bip-card-interactions__item" src="./../../../assets/images/like-image.png" alt="icono likes"/>
                <span class="bip-card-interactions__item count">{{ bip.likes.length }}</span>
                <img *ngIf="isLoggedIn()" class="bip-card-interactions__item" (click)="toggleCommentSection(bip._id)" src="./../../../assets/images/comentario-icono.png" alt="icono comentarios"/>
                <img *ngIf="!isLoggedIn()" 
                class="bip-card-interactions__item" 
                routerLink="/auth/login"
                src="./../../../assets/images/comentario-icono.png" 
                alt="icono comentarios"/>
                <span class="bip-card-interactions__item count">{{ getNumberOfComments(bip._id) }}</span>
            </div>
            <p class="bip-card-content-area__content">{{ bip.content }}</p>
        </div>
        <div class="bip-card-image-area" *ngIf="bip.picture">
            <img class="bip-card-image-area__img" [src]="bip.picture" alt=""/>
        </div>
        <p class="bip-card-content-area__date">{{ bip.createdAt | date }}</p> 
        <div class="bip-card-comment-form-area">
            <app-comment-form class="app-comment-form" *ngIf="showCommentFormFor === bip._id" (commentSubmitted)="createComment($event.comment, bip._id)"></app-comment-form>
            <div class="comment-list-container" *ngIf="showCommentFormFor === bip._id" >
                <h6 class="comment-list-number">Comentarios ({{ getNumberOfComments(bip._id) }})</h6>
                <div class="comment-list-area" *ngFor="let comment of bipComments[bip._id] || []">
                    <div class="comment-list-area__id">
                        <img class="bip-card-id__img" [src]="getUserImage(comment.user) ? getUserImage(comment.user) : './../../../assets/images/icono-muestra.png'" alt="icono usuario"/>
                        <h5 class="comment-list-name">{{ getUserName(comment.user) }}</h5>
                    </div>
                    <p class="comment-list-date">{{ comment.createdAt | date }}</p>
                    <h4 class="comment-list-content">
                        {{ comment.content }}
                    </h4>
                    <hr>
                </div>
            </div>
        </div>  
    </div>
</article>
<article *ngIf="!loading && (!bipsList || bipsList.length === 0)" class="no-bips-message">
    <p>Todavía no hay publicado ningún bip...</p>
</article>
