<article class="bip-post-container">
    <form class="bip-post-form" (ngSubmit)="createBip()" [formGroup]="createBipForm">
        <div class="input-area form-group">
            <textarea formControlName="content" name="content" type="text" class="form-control" cols="30" rows="10" placeholder="Estoy pensando en..."></textarea>
        </div>
        <div class="form-group select-category">
            <input type="checkbox" id="General" name="categories" value="General" formControlName="General" (change)="onCheckboxChange($event)" [checked]="isChecked('General')">
            <label for="General">General</label><br>
            <input type="checkbox" id="React" name="categories" value="React" formControlName="React" (change)="onCheckboxChange($event)" [checked]="isChecked('React')">
            <label for="React">React</label><br>
            <input type="checkbox" id="Angular" name="categories" value="Angular" formControlName="Angular" (change)="onCheckboxChange($event)" [checked]="isChecked('Angular')">
            <label for="Angular">Angular</label><br>
            <input type="checkbox" id="Node" name="categories" value="Node" formControlName="Node" (change)="onCheckboxChange($event)" [checked]="isChecked('Node')">
            <label for="Node">Node</label><br>
            <input type="checkbox" id="Javascript" name="categories" value="Javascript" formControlName="Javascript" (change)="onCheckboxChange($event)" [checked]="isChecked('Javascript')">
            <label for="Javascript">Javascript</label><br>
        </div>
        <div class="form-group upload-file">
            <input (change)="onFileChange($event)" type="file" id="picture" accept="image/*">
        </div>
        <button type="submit" class="form-button">Publicar</button>
    </form>
</article>
