<nav class="nav-container">
    <div class="nav-area">
        <ul class="nav-list" *ngIf="isLoggedIn()">
            <li class="nav-option" [ngClass]="{'nav-active': activeNavOption === 'Home'}" (click)="handleNavigate('Home')" [routerLink]="['']">Home</li>
            <li class="nav-option" [ngClass]="{'nav-active': activeNavOption === 'Profile'}" (click)="handleNavigate('Profile')" [routerLink]="['./profile', id]">Perfil</li>
        </ul>
    </div>
</nav>


<!--Añado el ngIF con userData por el tema de la asincronía, si intendo hacer el hadleRedirect sin compobrar si el userData esta disponible la url es null-->
