/*BODY*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/*HEADER*/
.header-container {
    width: 100vw;
    height: 3rem;
    background-color: white;
    -webkit-box-shadow: 0px 10px 22px 1px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 10px 22px 1px rgba(0,0,0,0.36);
    box-shadow: 0px 10px 22px 1px rgba(0,0,0,0.36);
    position: fixed;
    top: 0;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo-area {
    width: 100%;
    max-width: 960px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-logo {
    width: 130px;
    cursor: pointer;
}

.logout-icon {
    position: absolute;
    width: 30px;
    right: 15px;
    cursor: pointer;
}

/*VIEW-NAVBAR*/

.nav-container {
    padding-top: 5rem;
    padding-bottom: 0.75rem;
    position: fixed;
    z-index: 9;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: white;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.nav-option {
    transition : 1000ms;
    transform: translateY(0);
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

.nav-option a {
    text-decoration: none;
    color: #4f4f4f;
}

.nav-active {
    color: #fff;
    background: linear-gradient(90deg, #4f4f4f 0%, #32cd32 100%);
    padding: 10px 20px;
    border: solid #ffffff 2px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition : 500ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.nav-active a {
    color: #fff;
}

.nav-active:hover{
    transition : 500ms;
    transform : translateY(-5px);
    background: linear-gradient(90deg, #4f4f4f 0%, limegreen 100%);
    color: #ffffff;
    border: solid 2px #ffffff;
}

/*BIPS AREA*/

.app-body {
    padding-top: 7rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.bip-post-container {
    margin-bottom: 30px;
    width: 100%;
    margin-top: -30px;
}


.bip-card, .comments-section-form-container, .comment-list-container, .auth-container {
    width: 80vw;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    border: 2px solid lightgreen;
    border-radius: 30px;
    -webkit-box-shadow: 0px 12px 32px -11px rgba(0,0,0,0.61);
    -moz-box-shadow: 0px 12px 32px -11px rgba(0,0,0,0.61);
    box-shadow: 0px 12px 32px -11px rgba(0,0,0,0.61);
    padding: 5px 15px;
    margin-bottom: 2rem;
}

.bip-card-id {
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px; 
    position: relative; 
}

.bip-card-id__img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.end {
    align-self: flex-end;
    width: 30px;
    position: absolute;
    top: 5px;
    right: 0;
    cursor: pointer;
}

.bip-card-id__username {
    font-size: 1rem;
    font-weight: bold;
}

.bip-card-category {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.bip-card-category__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    list-style: none;
    padding: 5px;
    padding-left: 50px;
    margin: 0;
}

.bip-card-category__item {
    font-size: 0.8rem;
}

.category-item {
    padding: 5px;
    border-radius: 10px;
}

.Angular-color {
    border: 1px solid lightcoral;
    color: lightcoral;
}

.Node-color {
    border: 1px solid limegreen;
    color: limegreen;
}

.React-color {
    border: 1px solid blue;
    color: blue;
}

.General-color {
    border: 1px solid gray;
    color: gray;
}

.Javascript-color {
    border: 1px solid orange;
    color: orange;
}

.bip-card-content-and-interactions-area {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.bip-card-interactions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

.bip-card-interactions__item {
    width: 20px;
    cursor: pointer;
}

.count {
    text-align: center;
    cursor: none;
    transform: translateY(-10px);
}

.bip-card-content-area__content {
    font-size: 15px;
}

.bip-card-image-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bip-card-image-area__img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 30px;
    margin-bottom: 10px;
}

.bip-card-comment-form-area {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    padding-left: 0;
}

.loading-icon {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 960px;
  }
  
  .loading-icon img {
    animation: heartbeat 1.5s infinite ease-in-out;
  }
  
  @keyframes heartbeat {
    0% {
      transform: scale(0.9);
    }
    20% {
      transform: scale(1);
    }
    40% {
      transform: scale(0.9);
    }
    60% {
      transform: scale(1);
    }
    80% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(0.9);
    }
  }

/*COMMENT-FORM*/

.app-comment-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comments-section-form-container {
    border: 2px solid lightgrey;
    background-color: gainsboro;
    position: relative;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comments-section-form {
    padding: 15px 0;
    width: 90%;
}

.input-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 97%;
    gap: 10px;
    margin-bottom: 10px;
}

.input-area label {
    font-size: 17px;
    color: #333;
}


.input-area input, .input-area textarea {
    width: 100%;
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.input-area textarea::placeholder {
    font-family: 'Roboto', sans-serif;
    padding: 5px;
}

.input-area input {
    height: 25px;
}

.select-category {
    margin-bottom: 10px;
}

.form-button {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: #ffffff;
    font-size: 15px;
    background: limegreen;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}
  
.form-button:hover {
    background: lightgreen;
    text-decoration: none;
}

/*COMMENT LIST*/

.comment-list-container {
    position: relative;
    z-index: 0;
    width: 90%;
    border: none;
    margin-bottom: 0;
    padding-top: 15px;
}

.comment-list-number {
    font-size: 15px;
    color: #4f4f4f;
    align-self: flex-end;
    margin-top: 0;
    margin-bottom: 10px;
}

.comment-list-area__id {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.comment-list-name {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 3px;
    margin: 0;
}

.comment-list-date, .bip-card-content-area__date {
    color: limegreen;
    margin-bottom: 0;
}

.profile {
    margin-bottom: 20px;
}

.comment-list-content {
    font-size: 12px;
    margin: 20px 0;
}

hr {
    margin: 20px 0;
}

/*PROFILE*/

.profile-id-container, .profile-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.profile-id-image {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.profile-id-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
}

.edit-icon {
    position: absolute;
    top: 0;
    right: 25%;
    width: 20px;
    cursor: pointer;
}

.edit-profile-form {
    margin-bottom: 10px;
    position: relative;
    border: 1px solid lightgrey;
    border-radius: 30px;
    padding: 15px;
}

.edit-profile-form-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-profile-form-buttons img {
    position: absolute;
    top: -10px;
    right: 0;
    cursor: pointer;
}

.no-bips-message {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-bips-message p {
    font-size: 30px;
    margin-top: 20%;
    color: #4f4f4f;
    width: 70%;
}

/*AUTH-LOGIN-REGISTER*/

.form-title {
    text-align: center;
    font-size: 25px;
}

.auth-container {
    margin-bottom: 20vh;
    max-width: 300px;
    padding: 15px;
}

.error-msg {
    color: red;
    margin: 5px 0;
}